/*
#4070F4 blue
#232121 black
*/



h1,h2,h3
{
    text-transform: capitalize;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
button
{
    cursor: pointer;
    text-transform: capitalize;
}
.clear
{
    clear: both;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* custom scroll bar */
::-webkit-scrollbar 
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb 
{
    background: #888;
}
::selection
{
  background-color: black;  
  color: whitesmoke;
}
/* navbar */
.content
{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar
{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky
{
  background: #33383b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a
{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list
{
  display: inline-flex;
}
.menu-list li
{
  list-style: none;
}
.menu-list li a
{
  color: #4070F4;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover
{
  color: #fff;
}
.icon
{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.menu-list .cancel-btn
{
    position: absolute;
    right: 30px;
    top: 20px;
}

/* Home Section */


.home-item
{
    float: left;
    width: 50%;
}
.home-item svg
{
    width: 100%;
}
.home-item-title
{
    font-size: 64px;
    margin: 160px 0 0 80px;
}
.home-item-title b
{
    color: #4070F4;
}
.home-item-button
{
    margin: 10px 80px;
    background-color: #4070F4;
    color: whitesmoke;
    width: 150px;
    height: 40px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    transition: background 0.5s;
}
.home-item-button:hover
{
    opacity: 0.6;
}

.home-item img
{
    width: 40%;
    margin-top: 200px;
    margin-left: 170px;
}
/* About Section */
.about
{
    margin-top: 200px;
}
.about-item
{
    float: left;
    width: 50%;
}
.about-item img
{
    width: 60%;
    margin: 100px 50px;
}
.about-item-title
{
    color: #4070F4;
    font-size: xx-large;
    margin: 90px 0 50px 0;
}
.about-item-desc
{
    width: 80%;
    color: #888;
}

/* Skills Section */
.skills
{
    margin-top: 700px;
}
.skills-item
{
    float: left;
    width: 50%;
}
.skills-item img
{
    width: 70%;
    margin: 70px 60px;
}

.skills-item-title
{
    color: #4070F4;
    font-size: xx-large;
    margin: 5px 30px;
}

.skill-bars{
    padding: 35px 30px;
    width: 600px;
    background: #fff;
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #4070F4;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 60%;
  }
  .bar .progress-line.jquery span{
    width: 85%;
  }
  .bar .progress-line.python span{
    width: 50%;
  }
  .bar .progress-line.mysql span{
    width: 75%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "60%";
}
.progress-line.jquery span::after{
    content: "85%";
}
.progress-line.python span::after{
    content: "50%";
}
.progress-line.mysql span::after{
    content: "75%";
}

/* Projects Section */
.projects
{
    margin-top: 1400px;
}
.projects-item
{
    float: left;
    width: 28%;
}
.projects-item img
{
    width: 100%;
    margin: 105px;
    padding: 20px;
    margin-bottom: 0;
}
.projects-title
{
    color: #4070F4;
    font-size: 34px;
    text-align: center;
}
.projects-item-desc
{
    margin: 0 125px;
    color: #888;
}

/* Contact Section */
.contact
{
    margin-top: 700px;
}

.contact-content
{
    width: 30%;
    float: left;
    text-align: center;
}
.contact-content.mg
{
    margin: 0 5%;
}
.contact-content .icon
{
    color: #6195ff;   
}
.contact-title
{
    text-transform: capitalize;
    font-weight: bolder;
    margin: 15px 0;
}
.contact-text
{
    color: #888;
}
/**/

.contact-form
{
    padding-top: 220px;
}
input,textarea,.form-button
{
    color: black;
    border: 1px solid #6195ff;
    outline: none;
    font-size: 17px;
    margin: 10px;
    padding: 5px 10px;
    height: 40px;
    border-radius: 5px;
}

.input
{
    width: 30%;
    display: inline-block;
}

.input-subject
{
    display: block;
    width: 62.1%;
}
textarea
{
    display: block;
    width: 62.1%;
    height: 100px;
    max-width: 62.1%;
    max-height: 200px;
    min-width: 62.1%;
    font-size: 17px;
    margin-top: 20px;
}

.form-button
{
    height: 40px;
    width: 150px;
    padding: 10px;
    font-size: small;
}
.form-button:hover
{
    background-color: #33383b;
    color: whitesmoke;
}

/* Footer Section */

footer
{
    width: 100%;
    background-color: #33383b;
    padding: 40px;
    margin: 200px 0 0 0;
}
footer .footer-item
{
    float: left;
    width: 50%;
}
.footer-item-title
{
    color: whitesmoke;
    font-size: 34px;
}
.footer-links,.footer-links a
{
    color: #4070F4;
    font-weight: 700;
}
.footer-links,.footer-links a:hover
{
    color: whitesmoke;
}
.footer-item-desc
{
    color: #999;
}

.footer-icons
{
    float: right;
    margin: 50px 30px;
}
.footer-icons a 
{
    margin: 0 10px;
    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-icons a :hover
{
    color: #4070F4;
}

